.bestbuy-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Best_Buy_Logo.svg/300px-Best_Buy_Logo.svg.png);
  background-size: 150px;
}
.dell-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/18/Dell_logo_2016.svg);
  background-size: 70px;
}