.acer-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Acer_2011.svg/300px-Acer_2011.svg.png);
  background-size: 120px;
}
.amazon-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Amazon_logo_plain.svg/602px-Amazon_logo_plain.svg.png);
  background-size: 120px;
}
.apple-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/170px-Apple_logo_black.svg.png);
  background-size: 50px;      
}
.bestbuy-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Best_Buy_Logo.svg/300px-Best_Buy_Logo.svg.png);
  background-size: 80px;
}
.dell-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/18/Dell_logo_2016.svg);
  background-size: 60px;
}
.hp-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/100px-HP_logo_2012.svg.png);
  background-size: 55px;
}
.lenovo-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Lenovo_logo_2015.svg/500px-Lenovo_logo_2015.svg.png);
  background-size: 130px;
}
.microsoft-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/512px-Microsoft_logo_%282012%29.svg.png);
  background-size: 130px;
}
.nis-store-button {
  background-image: url(https://nis-store.com/images/logo-new.png);
}
.newegg-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/0/00/Newegg_Logo_updated.png);
  background-size: 130px;
}
.razer-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/00/Razer_Snake_Logo.svg/283px-Razer_Snake_Logo.svg.png);
  background-size: 55px;
  background-color: black;
}
.thesource-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/The_Source_logo_en-fr.svg/665px-The_Source_logo_en-fr.svg.png);
  background-size: 130px;
}
.tigerdirect-store-button {
  background-image: url(https://cdn-us-cf2.yottaa.net/56abbcda312e584188000013/2158b360df540134a2f70a3ba3fac80a.yottaa.net/v~13.39/99/masthead/masthead-logo-ca.png?yocs=e_&yoloc=us);
  background-size: 130px;
  background-color: #005cb9;
}