.amazon-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Amazon_logo_plain.svg/602px-Amazon_logo_plain.svg.png);
  background-size: 66px;
}
.apple-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/170px-Apple_logo_black.svg.png);
  background-size: 24px;      
}
.bestbuy-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Best_Buy_Logo.svg/300px-Best_Buy_Logo.svg.png);
  background-size: 56px;
}
.google-store-button {
  background-image: url(../images/google-store.png);
  background-size: 72px;
}
.ncix-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/3/35/Ncix_logo.jpg);
  background-size: 75px;
}
.oneplus-store-button {
  background-image: url(../images/oneplus-white.png);
  background-size: 80px;
}
.samsung-store-button {
  background-image: url(../images/samsung-store-100.png);
  background-size: 70px;
}
.htc-store-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/HTC.svg/246px-HTC.svg.png);
  background-size: 65px;
}