:root {
  --mdc-theme-primary: #ffeb3b;
  --mdc-theme-accent: #00e676;
}
html, body, main {
  height:100vh;
  width:100vw;
  overflow:hidden;
}
body {
  margin:0px;
}
main {
  background-color: #eeeeee;
}
a {
  text-decoration: none;
}
#close-button {
  display: none;
}
.mdc-dialog {
  z-index: 3;
}
.mdc-toolbar--fixed {
  z-index: 2;
}
.mdc-toolbar__title {
  color: #000000;
}
.material-icons {
  color:black;
}
.mdc-layout-grid {
  height:100%;
  padding:0px;
}
.layout-grid {
  display: table;
}
#laptop-list-section,#laptop-info-section {
  display:table-cell;
  background-color: white;
  vertical-align: top;
  height: calc(100vh - 64px);
}
#laptop-list-section {
  position: absolute;
  width: 33%;
  z-index: 0;
}
.scroll-section {
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
}
#laptop-info-section {
  width: 67%;
  visibility: hidden;
  display: table-cell;
  z-index: 1;
}
#banner {
  display: table;
  width: 100%;
  background-color: #f7f7f7;
}
#banner-image {
  display:table-cell;
  width: 150px;
}
#banner-image > img {
  height:200px;
}
#banner-title {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 15px;
}
#banner-spacer {
  display:table-cell;
  width: 100%;
}
.fab {
  position: relative;
  right: 3rem;
  bottom: 2rem;
  float:right;
}
#purchase-button {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  width: 52px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#vendor-button {
  color: black;
}
#specs, #specs-notes {
  margin: 5px;
}
.specs-title {
  display: inline-block;
  width: 175px;
}
.specs-spec {
  display: inline-flex;
}
.spec-row, .notes {
  padding: 10px 20px;
}
.spec-card-divider {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0px;
}
.store-table {
  display: table;
}
.store-row {
  display: table-row;
  margin: 25px 90px;
}
.store-row-button, .store-row-price {
  display: table-cell;
}
.store-row-price {
  color: black;
}
.store-button {
  padding: 40px 75px;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
#vendor-dialog > .mdc-dialog__surface {
  min-width: 280px;
  max-width: 380px;
}
#vendor-dialog-body {
  line-height: 120px;
}
@media (max-width: 599px) {
  #banner,#banner-image {
    display: block;
  }
  #banner-image {
    height: 65vw;
    width: 100vw;
    background-image: url(http://i.dell.com/das/xa.ashx/global-site-design%20WEB/8112e5f5-03c3-5aad-24a2-cbbc76a6fd18/1/OriginalPng?id=Dell/Product_Images/Dell_Client_Products/Notebooks/XPS_Notebooks/13_9630_Touch/global_spi/notebook-xps-13-9630-touch-front-front-usage-hero-504x350-ng.psd);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #banner-image > img {
    height: initial;
    width:100vw;
    visibility: hidden;
  }
  #banner-title {
    padding-left: 20px;
    width:100vw;
  }
  #laptop-list-section,#laptop-info-section {
    height: calc(100vh - 56px);
    width: 100vw;
  }
  #laptop-list-section {
    display: block;
  }
  #laptop-info-section {
    visibility: visible;
    display: none;
    position:absolute;
  }
  .fab {
    display: none;
  }
  #purchase-button {
    vertical-align: middle;
    padding-bottom: 0px;
  }
}