html, body, main {
  height:100vh;
  width:100vw;
  overflow:hidden;
}
body {
  margin:0px;
}
main {
  background-color: #eee;
}
a {
  text-decoration: none;
}
#close-button {
  display: none;
}
#info-title {
  display: none;
}
.mdc-dialog {
  z-index: 3;
}
.mdc-dialog__footer__button {
  color: var(--mdc-theme-text-primary-on-primary)!important;
}
.mdc-toolbar {
  transition: background-color 150ms linear;
}
.mdc-toolbar--fixed {
  z-index: 2;
}
.mdc-toolbar__section--align-end {
  max-width: 24px;
}
.mdc-toolbar__menu-icon+.mdc-toolbar__title {
  margin-left: 24px;
}
.material-icons {
  color:var(--mdc-theme-text-primary-on-primary);
}
.mdc-layout-grid {
  height:100%;
  padding:0px;
}
.layout-grid {
  display: table;
}
#laptop-list-section,#laptop-info-section {
  display:table-cell;
  background-color: white;
  vertical-align: top;
  height: calc(100vh - 64px);
}
#laptop-list-section {
  position: absolute;
  width: 33%;
  z-index: 0;
}
.scroll-section {
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
}
.mdc-list--avatar-list .mdc-list-item__start-detail {
  width: 100px;
  height: inherit;
  border-radius: 0%;
  margin-right: 16px;
}
.mdc-list-item {
  cursor: pointer;
}
.mdc-list-item__start-detail {
  text-align: center;
}
.mdc-list-item__start-detail > img {
  width: inherit;
  vertical-align: middle;
}
.laptop-list-divider {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);  
  margin: 0px -16px;
}
#filter-fab {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
#laptop-info-section {
  width: 67%;
  visibility: hidden;
  display: table-cell;
  z-index: 1;
}
#banner {
  display: table;
  width: 100%;
}
#banner-image {
  display:table-cell;
  width: 150px;
}
#banner-image > img {
  height: 200px;
  width: 250px;
  object-fit: contain;
}
#banner-title {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 15px;
}
#banner-spacer {
  display:table-cell;
  width: 100%;
}
.fab {
  position: relative;
  right: 3rem;
  bottom: 2rem;
  float:right;
}
#purchase-button {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
}
#vendor-button {
  min-width: 150px;
}
#specs, #specs-notes {
  margin: 5px;
}
.specs-title {
  display: inline-block;
  width: 175px;
}
.specs-spec {
  display: inline-flex;
}
.spec-row, #specs-notes > div {
  padding: 10px 20px;
}
.spec-card-divider {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0px;
}
.store-table {
  display: table;
}
.store-row {
  display: table-row;
  margin: 25px 90px;
  height: 80px;
}
.store-row-button, .store-row-price {
  display: table-cell;
  vertical-align: middle;
}
.store-button {
  padding: 25px 75px;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
#vendor-dialog > .mdc-dialog__surface {
  min-width: 280px;
  max-width: 394px;
}
@media (max-width: 959px) {
  #banner,#banner-image {
    display: block;
  }
  #banner-image {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #banner-image > img {
    height: 40vh;
    width: 100vw;
    object-fit: cover;
  }
  #banner-title {
    display: none;
  }
  #laptop-list-section,#laptop-info-section {
    width: 100vw;
  }
  #laptop-list-section {
    display: block;
  }
  #laptop-info-section {
    visibility: visible;
    display: none;
    position:absolute;
  }
  .fab {
    display: none;
  }
  #purchase-button {
    text-align: center;
    width: 100vw;
    vertical-align: middle;
    padding-right: 0px;
    padding-bottom: 15px;
  }
}
@media (max-width: 959px) {
  #laptop-list-section,#laptop-info-section {
    height: calc(100vh - 56px);
  }
}