:root {
  --mdc-theme-primary: #ffeb3b;
  --mdc-theme-primary-light: #ffff72;
  --mdc-theme-primary-dark: #c8b900;
  --mdc-theme-secondary: #00c853;
  --mdc-theme-secondary-light: #5efc82;
  --mdc-theme-secondary-dark: #009624;
  --mdc-theme-text-primary-on-primary: #000;
}
.mdc-toolbar__title, .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
	color: var(--mdc-theme-text-primary-on-primary);
}
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
	background-color: var(--mdc-theme-secondary);
}