:root {
  --mdc-theme-primary: #fafafa;
  --mdc-theme-primary-light: #ffffff;
  --mdc-theme-primary-dark: #c7c7c7;
  --mdc-theme-secondary: #2979ff;
  --mdc-theme-secondary-light: #75a7ff;
  --mdc-theme-secondary-dark: #004ecb;
  --mdc-theme-text-primary-on-primary: #000;
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
	background-color: var(--mdc-theme-secondary);
	color: #fff;
}